<main id="main-container">
    <script src="./js/login.js"></script>
    <link rel="stylesheet" href="./css/login.css">
    <form id="login-form">
        <label for="usernameEmail">username or email</label>
        <input type="text" id="usernameEmail" placeholder="Enter Username or Email">
        <label for="userPassword">password</label>
        <input type="password" name="password" id="userPassword">
        <button type="submit">Log in</button>
    </form>
</main>