<link rel="stylesheet" href="/css/home.css">
<link rel="stylesheet" href="/css/reply.css">
<link rel="stylesheet" href="/css/post.css">
<link rel="stylesheet" href="/css/zoomLoom.css">
<script src="/js/post.js" type="module"></script>
<script src="/js/emojionearea.min.js"></script>
<script src="/js/ironexZoom.js"></script>
<script src="/js/zoomNew.js" type="module"></script>
<script src="/js/swipe.js"></script>
<main id="main-container">
    <div class="page-header">
        <span class="material-icons-outlined return-btn">
            west
        </span>
        <p>Kelpost</p>
    </div>
    <div class="main-main-post">
        <div class="main-route-post-div post-div">
            <div class="user-info-div">
                <img src="https://kelbis.mo.cloudinary.net/happy new month - Made with PosterMyWall.jpg" alt="" class="user-info-profile">
                <p class="user-info-username"></p>
            </div>
            <div class="post-text">
                <p class="text-text"></p>
            </div>
            <div class="media">
               
            </div>
            <div class="main-post-time">
                <p class="time-time"></p> ||
                <p class="date-time"></p>
            </div>
            <div class="action-counter">
                <div class="like-count-div">
                    <span class="like-like like-count">900</span>
                    <span>likes</span>
                </div>
                <div class="share-count-div">
                    <span class="share-share">30</span>
                    <span>share</span>
                </div>
            </div>
            <div class="post-actions-icons">
                <div class="comment"> 
                    <span class="material-icons-outlined commentBtn">
                    reply
                    </span>
                </div>
                <div class="like">
                    <span class="material-icons-outlined likeIcon">
                      favorite_border
                    </span>
                </div>
                <div class="share">
                    <span class="material-icons-outlined">
                    share
                    </span>
                </div>
            </div>
            <div class="post-sub-section">
                <img src="https://kelbis.mo.cloudinary.net/happy new month - Made with PosterMyWall.jpg?tx=w_100,h_100,g_auto,c_fill" alt="profile-picture" class="reply-profile">
                <div class="post-actions">
                    <p><span class="textarea" role="textbox" contenteditable="" id="reply-post" spellcheck="false"></span></p>
                    <div class="uploads-images">
                    </div>
                    <div class="actions-action">
                        <div class="front-action">
                            <input type="file" name="pictures" id="reply-upload" multiple="" accept="image/*">
                            <label for="reply-upload">
                                <span class="material-icons-outlined file-upload-btn">
                                    image
                                </span>
                            </label>
                            <input type="text" name="emoji" id="myEmoji">
                        </div>
                        <div class="front-count count-disabled">
                            <div class="card number">
                                <div class="percent">
                                <svg>
                                    <circle cx="10" cy="10" r="8" class="percent-count"></circle>
                                    <circle cx="10" cy="10" r="8" style="--percent: 50" class="percent-count count-true"></circle>
                                </svg>
                                <div class="number">
                                    <h3>50</h3>
                                </div>
                                </div>
                            </div> 
                            <div class="send-reply-reply error">
                                <span>reply</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="loading-div">
        <div class="display-load">
        </div>
    </div>
    <div class="post-comments">
        <!-- <div class="post" id="id1031454d-00e4-4769-9178-676a6dcb41a8">
            <div class="postSub">       
                <a href="/user/iam_ehigie/1031454d-00e4-4769-9178-676a6dcb41a8">
                    <img src="https://kelbis.mo.cloudinary.net/KELBIS 1.jpg?tx=w_200,h_200,g_auto,c_fill" alt="iam_ehigie_profilePicture" class="profile-picture">
                </a>
                <div class="post-div">   
                    <a href="/user/iam_ehigie/1031454d-00e4-4769-9178-676a6dcb41a8">
                        <span class="username">iam_ehigie</span>
                        <div class="post-text">
                            <p class="text-text">Even the stars were jealous of the sparkle in my code. </p>
                        </div>
                    </a>
                    <div class="media three">       
                        <img src="https://kelbis.mo.cloudinary.net/arif-riyanto-vJP-wZ6hGBg-unsplash.jpg" alt="picture" class="media-media" data-id="1">
                        <img src="https://kelbis.mo.cloudinary.net/altumcode-U0tBTn8UR8I-unsplash.jpg" alt="picture" class="media-media one" data-id="2">
                        <img src="https://kelbis.mo.cloudinary.net/alexandru-acea--WBYxmW4yuw-unsplash.jpg" alt="picture" class="media-media one" data-id="3"> 
                    </div>
                </div>
            </div>
            <div class="post-actions">   
                <div class="comment"> 
                    <span class="material-icons-outlined commentBtn">
                        reply
                    </span>
                    <span class="comment-count count">1</span>
                </div>
                <div class="like">
                    <span class="material-icons-outlined likeIcon">
                        favorite_border
                    </span>
                    <span class="like-count count">2</span>
                </div>
                <div class="share">
                    <span class="material-icons-outlined">
                        share
                    </span>
                </div>
            </div>
        </div> -->
    </div>
</main>
<section class="comment-reply">
    <div class="reply-main">
        <div class="return-controls">
            <span class="material-icons-outlined return-btn">
                west
            </span>
            <div class="send-reply error">
                <span>kelpost</span>
            </div>
        </div>
        <div class="exact-post-reply">
            <div class="image-design">
                <img src="https://kelbis.mo.cloudinary.net/happy new month - Made with PosterMyWall.jpg?tx=w_100,h_100,g_auto,c_fill" alt="profile-picture" class="reply-image">
                <div class="design"></div>
            </div>
            <div class="post-div">
                <span class="username">Iam_ehigie</span>
                <div class="post-text">
                    <p class="text-text">The audio quality for the spaces from my new phone is just a HUGE difference! Just listened to a small piece of the recording to see and WOW. S22 Ultra really has some professional sounding mic quality!</p>
                </div>
            </div>
        </div>
        <div class="post-section">
            <div class="design-top">
                <div class="design"></div>
            </div>
            <div class="post-sub-section">
                <img src="https://kelbis.mo.cloudinary.net/happy new month - Made with PosterMyWall.jpg?tx=w_100,h_100,g_auto,c_fill" alt="profile-picture" class="reply-profile">
                <div class="post-actions">
                    <p><span class="textarea" role="textbox" contenteditable id="reply-post"></span></p>
                    <div class="uploads-images">
                    </div>
                    <div class="actions-action">
                        <div class="front-action">
                            <input type="file" name="pictures" id="reply-upload1" multiple accept="image/*">
                            <label for="reply-upload1">
                                <span class="material-icons-outlined file-upload-btn">
                                    image
                                </span>
                            </label>
                            <input type="text" name="emoji" id="myEmoji1">
                            <!-- <span class="material-icons-outlined question-btn">
                                dynamic_form
                            </span> -->
                        </div>
                        <div class="front-count count-disabled">
                            <div class="card number">
                                <div class="percent">
                                <svg>
                                    <circle cx="10" cy="10" r="8" class="percent-count"></circle>
                                    <circle cx="10" cy="10" r="8" style="--percent: 50" class="percent-count count-true"></circle>
                                </svg>
                                <div class="number">
                                    <h3>50</h3>
                                </div>
                                </div>
                            </div> 
                            <!-- <div class="add-link-post">
                                <span class="material-icons-outlined">
                                    add
                                </span>
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> 
</section>
<section class="post-loader display-off">
    <div class="post-loading">
        <div class="loader-load"></div>
    </div> 
</section>
<section class="upload-section display-off">
    <div class="upload-messages">
        <p>your reply was sent</p>
    </div>
</section>
<section class="media-preview-main ">
    <div class="media-main-preview-main">
        <div class="media-preview-container">
            <div class="zoom">
                <img src="https://kelbis.mo.cloudinary.net/timofey-urov-WU_y9Iz5x4o-unsplash.jpg" alt="Ship Spectacular" image-count="1">
            </div>
        </div>
        <div class="media-preview-container one">
            <div class="zoom">
                <img src="./media/DSC_7723.jpg" alt="Ship Spectacular" image-count="2">
            </div>
        </div>
    </div>
    <div class="action-cancel">
        <span class="material-icons-outlined">
            close
        </span>
    </div>
    <div class="action-stats">
        <div class="post-actions">
            <div class="comment">
                <span class="material-icons-outlined commentBtn">
                    reply
                </span>
                <span class="comment-count count">10</span>
            </div>
            <div class="like">
                <span class="material-icons-outlined">
                    favorite_border
                </span>
                <span class="like-count count">10</span>
            </div>
            <div class="share">
                <span class="material-icons-outlined">
                    share
                </span>
                <span class="share-count count">10</span>
            </div>
        </div>
    </div>
    <div class="action-left-btn">
        <span class="material-icons-outlined">
            west
        </span>
    </div>
    <div class="action-right-btn">
        <span class="material-icons-outlined">
            east
        </span>
    </div>
</section>